/* your code */
table {
	border: 1px solid lightgray;
	width: 100%;
	border-radius: 10px;
	border-collapse: separate;
	border-spacing: 0;
	overflow: hidden;
}

thead {
	background-color: #215a8e;
}

th {
	color: white;
	padding: 4px;
	text-align: left;
}

td {
	padding: 4px;
	outline: 1px solid transparent;
}

.row2, .row4 {
	background-color: lightgray;
}
